* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: yellow;
    width: 100vw;
    height: 100vh;

/* First option to the centre */ 

     /* display: grid;                   
     place-items: center;   */


/* Second option to the centre */

    display: flex;  
     justify-content: center;       
     align-items: center; 
}

.universe{
    width: 40vw;
    aspect-ratio: 1;
    background-color: #ffbb5c;
    display: flex;  
    justify-content: center;       
    align-items: center; 
    border-radius: 12px;
    animation: skychange 10s ease infinite;
}


@keyframes skychange{
    0%{
        background-color: #ffbb5c;
    }
    25%{
        background-color: #fcbf49;
    }
    50%{
        background-color: #000000;
    }
    75%{
        background-color: #fcbf49;
    }
    100%{
        background-color: #ffbb5c;
    }
}

 .sun{
    width: 18vw;
    aspect-ratio: 1;
    background-color: #e25e3e;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        aspect-ratio: 1;
        border-radius: inherit;
        background-color: #000000;
        animation: moonwalk 10s ease-in-out infinite;
    }
 } 

 @keyframes moonwalk {
    0% {
        translate: 100%;
        scale: 1;
    }
    50% {
        translate: 0%;
        scale: 0.95;
    }
    100% {
        translate: -100%;
        scale: 0.9;
    }
    
 }